############################
# IDEs
############################
.idea/
.vscode/
*.iml

# Maven
target/

############################
# BACKEND / SPRING
############################
backend/target/
*.log

############################
# FRONTEND / ANGULAR
############################
frontend/node_modules/
frontend/dist/

############################
# SISTEMA
############################
.DS_Store
Thumbs.db
